.fullData {
  display: flex;
  gap: 20px;
  height: 100vh;
  padding: 20px;
  background: #f3f4f6; 
  box-sizing: border-box;
}
.fullData {
  height: calc(100vh - 60px); /* navbar height */
}


.builder {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}


