.navbar {
  height: 50px;
  background: #45267e;
  padding: 12px 20px;
   background: #45267e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.fill-btn {
  background: #ef0b71;
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

  

.logo {
  cursor: pointer;
  margin: 0;
  display: flex;
  align-items: center;
  
 
}

.nav-actions {
  display: flex;
  gap: 12px;
  align-items: center;
}

.template-btn {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.template-btn:hover {
  background: white;
  color: #4c2a85;
}




